/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2014, 12:46:37 PM
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/

table.formsearch{
    background-color: #faf7f7
}
td{
    width: 80px;
}
#divleft{
    float: left
}
#divright{
    float: left
}